langchain
langchain_community
python-dotenv
ipykernel
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
langchain-ollama
sentence-transformers
langchain-huggingface
tqdm
faiss-cpu
langchain-chroma